<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php/$1
rewritecond %{http_host} ^seocrawl.de [nc]
rewriterule ^(.*)$ https://rankalytics.com/seocrawl [r=301,nc]
</IfModule> 
